#box1{
    width: 200px;
    height: 200px;
    background-color: hsl(195, 89%, 50%);
    position: sticky;
    top: 0px;
}
#box2{
    width: 100px;
    height: 100px;
    background-color: hsl(357, 89%, 50%);
    position: static;
    top: 50px;
    left: 50px;
}